<!DOCTYPE html>
<html>
    <title>Verify Me</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
  
<style>

body {font-family: "Lato", sans-serif}
.mySlides {display: none}
.top { background-color:#0C0019;}
.text { color:antiquewhite}
</style>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>





.show {display: block;}
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  cursor : pointer;
  border: 1px solid #ddd;
  margin-top: 2px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
</style>
</head>
<body>
    <div class="w3-top">
        <div class="w3-bar  top w3-card">
          <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          <a href="#" class="w3-bar-item w3-button w3-padding-large text">HOME</a>
          <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small text" onclick="myhiddenform()">Return Product list</a>
      
          
          <a href="/loginuser" class="w3-padding-large w3-hover-red w3-hide-small w3-right text">logout</a>
        </div>
      </div>
      
      <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
      <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
        <a href="#band" class="w3-bar-item w3-button w3-padding-large text" onclick="myFunction1()">Return Product list</a>
        <a href="#band" class="w3-bar-item w3-button w3-padding-large text " onclick="myFunction1()">logout</a>
      
      </div>
      
      
      
        <!-- The Band Section -->
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:950px" id="band">
          <h2 class="w3-wide"><%=userdetailss.city %> Office Assets</h2>

          <p class="w3-opacity"><i><strong>Address:</strong><%=userdetailss.validAddress%></i></p>


<form id="myForm" method="post" action="/returnpro">
  <input type="hidden"  value="<%=userdetailss.validAddress%>" name="validAddress" >
  <input type="hidden"  value="<%=userdetailss.retunAddress%>"  name="retunAddress" >
  <input type="hidden"  value="<%=userdetailss.endAddress%>" name="endAddress" >
  <input type="hidden"  value="<%=userdetailss.city %>"  name="city" >
</form>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
<ul id="myUL">
    <%
    var i=0;
    while(assertrawb[i]){
    %>
  <div class="dropdown">
    <li ><a onclick="window.location.href='/assetdetails?validAddress=<%=userdetailss.validAddress%>&retunAddress=<%=userdetailss.retunAddress%>&endAddress=<%=userdetailss.endAddress%>&city=<%=userdetailss.Branchname%>&assetname=<%=assertrawb[i].name%>'" > <%=assertrawb[i].name%>(units: <%=assertrawb[i].qty%>)</a></li>
     </div>
    <% 
    i++
      }
    %>
  </ul>

</div>
  
 


<script>
  function myFunction() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName("li");
      for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("a")[0];
          if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
          } else {
              li[i].style.display = "none";
          }
      }
  }
  </script>
  <script>

      function myFunction1() {
          var x = document.getElementById("navDemo");
          if (x.className.indexOf("w3-show") == -1) {
              x.className += " w3-show";
          } else { 
              x.className = x.className.replace(" w3-show", "");
          }
      }
      
      
function myhiddenform() {
    document.getElementById("myForm").submit();
}

      </script>

</body>
</html>